{% extends "searchv2/base.html" %}

{% load i18n %}
{% load uni_form_tags %}

{% block head_title %}{% trans "Search" %}{% endblock %}

{% block body %}
    <h1>{% trans "Search" %}</h1>

    <form class="uniForm" method="get">
        <fieldset>
            {{ form|as_uni_form }}

            <div class="form_block">
                <input type="submit" name="b" value="{% trans "Search" %}" class="medium awesome forestgreen">
            </div>
        </fieldset>
    </form>

    {% if query %}
        <h3>Results</h3>

        {% for result in page.object_list %}
            {% if result.verbose_name == 'Package' %}
                {% with result.object as package %}
                    {% include "package/includes/_package.html"%}
                {% endwith %}
            {% else %}{% if result.verbose_name == 'Grid' %}
                {% with result.object as grid %}
                    {% include "grid/snippets/grid.html" %}
                {% endwith %}
            {% else %}
                <p>
                    {{ result.verbose_name }}: <a href="{{ result.object.get_absolute_url }}">{{ result.object.title }}</a>
                </p>
            {% endif %}{% endif %}
        {% empty %}
            <p>No results found.</p>
        {% endfor %}

        {% if page.has_previous or page.has_next %}
            <div>
                {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                |
                {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
            </div>
        {% endif %}
    {% else %}
        {# Show some example queries to run, maybe query syntax, something else? #}
    {% endif %}
{% endblock %}